html,body{
    font-family: Arial;
	margin: 0;
	padding: 0;
	line-height: 50px;
	font-size: 15px;
    background: #ccc url("../imagens/background2.png");
}
#header, #middle_box, #shooter {
	position: relative;
	margin: 0 auto;
	width: 90%;
    color: #fff;
}

#justify{
    margin-left: 120px;
    color: #2a7ead;
}


#middle_box{
    padding: 25px 0;
    background-color: #ccc;
    
}

#header{
    margin-top: 100px;
}



#middle_box {
    color: #2a7ead;
    line-height: 20px;
}

div.content {
    width: 300px;
    height: 200px; 
    display: inline-block;
    margin-left: 138px;
    margin-top: 4%;
}

#shooter {
	line-height: 20%;
	background-color:rgb(96, 158, 230);
	border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-weight: 500;
}


#menu_buttons {
    display: flex; 
    background-color: rgb(96, 158, 230);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: space-around;
}

.menu_button:hover, .menu_button:active, .menu_button:focus, .menu_button.ativo{
	background-color: rgb(28, 71, 128);
}
.menu_button {
    text-decoration: none;
	background-color: rgb(96, 158, 230);
	width: 300px;
	color: #fff;
	text-align: center;
	display: table-cell;
    transition: background-color 0.3s linear;
    text-transform: uppercase;
}
.btn1, .btn5{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.image{
    height: 100%;
    width: 100%;
}
#banner{
    height: 230px;
    width: 680px;
    margin-left: 350px;
}

.lbox{
    visibility: hidden;
    opacity: 0;   
}
ul{
    width: 880px;
    list-style: none;
    display: flex;
    margin: 100px auto;
}
ul li{
    margin-top: 60px;
}
.min{
    width: 200px;
    padding: 10px;
}
.lbox:target{
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background: rgba(25, 25, 26, 0.616);
    position: fixed;
}
.box_img{
    width: 1000px;
    margin: 150px auto;
}
.btn{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
}
#prev{
    left:5%;
    top: 45%;
}
#next{
    right:5%;
    top: 45%;
}
#close{
    top: 0;
    right:2%;

}
.box_img img{
    opacity: 0;
}
.lbox:target .box_img img{
    opacity: 1;
    transition: opacity .4s linear;
}

#molding{
    background-color: rgba(184, 184, 184, 0.74);
    position: relative;
	margin: 0 auto;
	width: 90%;
    padding: 0px;
    height: 1100px;
    margin-top: -100px;
}
.strayed{
    margin-left: 210px;
    margin-top: -10px;
}

.imgstr{
    overflow: hidden; 
    width: 40%;
    float: Left;
    padding: 15px;
}

p{
    text-align: justify;
}

h1,h2,h3,h4{
    text-align: center;
}